$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "bourbon/dist/_bourbon.scss";
// endbower

// MIXINS
@mixin disable-select() {
  @include prefixer( user-select, none, webkit moz ms spec );
}

// PLACEHOLDERS
%position-fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%center-content {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
}

%full-width {
  width: 100%;
  height: 100%;
}

//

// VARIABLES
$keyline-base:    4px;
$keyline:         ceil($keyline-base * 2);
$keyline-double:  ceil($keyline * 2);
$gutter:          ceil($keyline * 3);
$gutter-half:     ceil($gutter / 2);
$gutter-double:   ceil($gutter * 2);
//

html {
  @include transition(background-color 2.4s ease);
  @extend %full-width;
  background-color: #99B6BD;
}

body {
  @extend %full-width;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  line-height: 1.64em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html.warmish {
  background-color: #CEB87A;
}

html.coolish {
  background-color: #ACBF98;
}

#application {
  @extend %full-width;
  padding: $gutter $gutter-half;
}

h1.logo {
  font-size: 21px;
  font-weight: normal;
  opacity: 0.4;
  margin: 0 auto $gutter-half ;
}

.label-title {
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  margin: 0;
  paddding: 0;
}

.loader {
  @extend %position-fullscreen;
  @extend %center-content;
  z-index: 1;
  text-align: center;

  i {
    @include animation(rotate360 0.5s linear infinite);
    margin: $gutter;
  }

  h3 {
    @extend .label-title;
    margin: $gutter-half;
  }
}

@include keyframes(rotate360) {
  from {
    @include transform( rotate(0deg) );
  }
  to {
    @include transform( rotate(360deg) );
  }
}

#apparel {
  @extend %center-content;
  @extend %full-width;
  text-align: center;

  .logo {
    margin: 0 auto $gutter;
  }
}

#apparel-graphic {
  @include disable-select;
  margin-bottom: $gutter-half;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
  }

  img {
    @include transition(all 0.2s ease);
    max-height: 180px;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

#footer {
  margin: $gutter auto;
  text-align: center;
  font-size: 12px;
  line-height: 1.64em;

  a {
    color: white;
    text-decoration: underline;
  }

  hr {
    width: 16px;
    margin: $gutter-half auto;
    opacity: 0.4;
  }
}

#apparel-title {
  margin: $keyline auto;
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
    line-height: 1.64em;
  }

  h1.logo {
    font-size: 28px;
  }

  #apparel-graphic {
    img {
      max-height: 380px;
    }
  }
}

@media (max-height: 481px) and (max-width: 768px) {
  #apparel {
    @include align-items(inherit);
  }
}

@media (max-height: 600px) and (min-width: 768px) {
  #apparel {
    @include align-items(inherit);
  }
}