$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "bourbon/dist/_bourbon.scss";
// endbower

// PLACEHOLDERS
%position-fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%center-content {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
}
//

// VARIABLES
$keyline-base:    4px;
$keyline:         ceil($keyline-base * 2);
$keyline-double:  ceil($keyline * 2);
$gutter:          ceil($keyline * 3);
$gutter-half:     ceil($gutter / 2);
$gutter-double:   ceil($gutter * 2);
//

html {
  @include transition(background-color 2.4s ease);
  background-color: #99B6BD;
}

body {
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  line-height: 1.64em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.warmish {
  background-color: #59ABE3;
}

h1.logo {
  font-size: 16px;
  font-weight: normal;
  opacity: 0.4;
  margin: $gutter-half auto;
}

.label-title {
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  margin: 0;
  paddding: 0;
}

.loader {
  @extend %position-fullscreen;
  @extend %center-content;
  z-index: 1;
  text-align: center;

  i {
    @include animation(rotate360 0.5s linear infinite);
    margin: $gutter;
  }

  h3 {
    @extend .label-title;
    margin: $gutter-half;
  }
}

@include keyframes(rotate360) {
  from {
    @include transform( rotate(0deg) );
  }
  to {
    @include transform( rotate(360deg) );
  }
}

#apparel {
  text-align: center;

  .logo {
    margin: $gutter;
  }
}

#apparel-graphic {
  width: 220px;
  height: 220px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto $gutter;

  &.shirt {
    background-image: url('../images/shirt.svg');
  }

  &.sweater {
    background-image: url('../images/shirt.svg');
  }
}

#apparel-title {
  margin: $gutter-half auto;
}

@media (min-width: 768px) {
  h1.logo {
    font-size: 28px;
  }

  #apparel {
    text-align: center;

    .logo {
      margin: $gutter-double;
    }
  }

  #apparel-graphic {
    width: 360px;
    height: 360px;
  }
}